<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>

<h2>Login Form</h2>

<form action="login" method="post">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" id="username" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" id="password" placeholder="Enter Password" name="password" required>
        
    <button type="button">Login</button>
  </div>
</form>

</body>
</html>

<script>
  $("button").click(function(){
     $.ajax({
         //url: đường dẫn api
         url: "login",
         //method là phương thức đi cùng api
      //    "GET, POST, PUT, DELETE"
         method: "POST",
      //khi sử dụng method là get TUYỆT ĐỐI KHÔNG SỬ DỤNG DATA
      //DATA được sử dụng khi đó là method PUT, POST, DELETE
         data: {
          username: $("#username").val(),
          password:  $("#password").val(),
         }
     }).then(function(res){
          if(res.message === 'success'){
            alert(res.message)
          }
     }).catch(function(err){
          alert(err.responseJSON.message)
     })
  })
</script>

